*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  letter-spacing: 0.1rem;
}

html {
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
  overflow-x: hidden;
  scroll-behavior: smooth;

  @include respond(tab-land) {
    // width < 1200?
    font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
  }

  @include respond(tab-port) {
    // width < 900?
    font-size: 50%; //1 rem = 8px, 8/16 = 50%
  }

  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12, 12/16
  }
}

body {
  font-family: $f-poppins;
  box-sizing: border-box;
  overflow-x: hidden;
}

a,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

button,
input,
textarea {
  font-family: inherit;
  border: none;
  outline: none;
  font-weight: 300;
}

textarea {
  resize: none;
}

ul {
  list-style: none;
}

[data-aos='fadeIn'] {
  opacity: 0;
  transform: translateY(5rem);
  transition-property: transform, opacity;

  &.aos-animate {
    opacity: 1;
    transform: translateY(0);
  }
}

#root {
  display: none;
  opacity: 0;
  animation: fade-in 0.5s ease-in forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.spinner {
  @include abs-center;
}
