// FONTS
$f-josefin: 'Josefin Sans', sans-serif;
$f-poppins: 'Poppins', sans-serif;
$f-nothing-you-could-do: 'Nothing You Could Do', cursive;

// TEXT FONT SIZES
$fs-small: 1.4rem;
$fs-small-s: 1.5rem;
$fs-medium: 1.7rem;
$fs-large: 2.2rem;
$fs-large-s: 2.4rem;
$fs-large-m: 3.2rem;
$fs-large-x: 4rem;

// INDENTS
$i-small: 0.5rem;
$i-medium: 1rem;
$i-large: 1.5rem;
$i-large-s: 2rem;
$i-large-m: 2.5rem;
$i-large-x: 3rem;
$i-large-xs: 4rem;
$i-large-xm: 6rem;
$i-large-xl: 6.5rem;
$i-large-xxl: 7rem;
$i-large-mega: 10rem;

// COLORS

$white: #fff;
$gray: gray;
$gray-dark: #343a40;
$gray-light: #bfbfbf;
$light: #e8eaeb;
$dark: #343a40;
$black: #121619;
$yellow: #ffa600;
$yellow-1: #fac564;
$brown: #5c3d03;
