*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
  letter-spacing: 0.1rem;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  font-family: "Poppins", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

a,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

button,
input,
textarea {
  font-family: inherit;
  border: none;
  outline: none;
  font-weight: 300;
}

textarea {
  resize: none;
}

ul {
  list-style: none;
}

[data-aos='fadeIn'] {
  opacity: 0;
  -webkit-transform: translateY(5rem);
          transform: translateY(5rem);
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
}

[data-aos='fadeIn'].aos-animate {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

#root {
  display: none;
  opacity: 0;
  -webkit-animation: fade-in 0.5s ease-in forwards;
          animation: fade-in 0.5s ease-in forwards;
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.container {
  width: 80%;
  margin: 0 auto;
}

@media only screen and (max-width: 56.25em) {
  .container {
    width: 90%;
  }
}

.u-margin-right-small {
  margin-right: 0.5rem;
}

.u-margin-right-medium {
  margin-right: 1rem;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #121619;
  opacity: 0.5;
}

.overlay--dark {
  opacity: 0.8;
}

.overlay-darker {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #121619;
  opacity: 0;
  z-index: 1;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.overlay-darker.show {
  opacity: 0.9;
}

.btn {
  font-weight: 300;
  font-size: 1.4rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.btn--primary {
  background-color: #fac564;
  border: 0.1rem solid #fac564;
}

.btn--primary:hover, .btn--primary:focus {
  color: #fac564;
  background-color: transparent;
}

.btn--secondary {
  background-color: transparent;
  color: #fac564;
  border: 0.1rem solid #fac564;
}

.btn--secondary:hover, .btn--secondary:focus {
  color: #121619;
  background-color: #fac564;
}

.btn--secondary__active {
  color: #121619;
  background-color: #fac564;
  border: 0.1rem solid #fac564;
}

.btn--white {
  background-color: transparent;
  color: #fff;
  border: 0.1rem solid #fff;
}

.btn--white:hover, .btn--white:focus {
  color: #121619;
  background-color: #fac564;
}

.header {
  position: fixed;
  width: 100%;
  height: 9rem;
  background-color: black;
  z-index: 10;
  -webkit-transition: height 0.3s ease-in-out;
  transition: height 0.3s ease-in-out;
}

.header--scrolled {
  height: 6rem;
}

@media only screen and (max-width: 56.25em) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header__nav {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 56.25em) {
  .header__nav {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-left: 5%;
  }
}

.header__logo {
  font-family: "Josefin Sans", sans-serif;
  color: #fff;
}

.header__logo img {
  display: inline-block;
  margin-right: 0.5rem;
  height: 2.5rem;
}

.header__logo span {
  display: inline-block;
  font-size: 2.5rem;
}

.header__logo small {
  display: block;
  font-size: 1.1rem;
  font-weight: 400;
  letter-spacing: 0.44rem;
  color: #fac564;
}

.header__nav-list {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 56.25em) {
  .header__nav-list {
    display: none;
  }
}

.header__list-item:not(:last-child) {
  margin-right: 3rem;
}

.header__nav-link {
  font-size: 1.4rem;
  font-weight: 300;
  color: #bfbfbf;
  border-bottom: 0.1rem solid transparent;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.header__nav-link:hover {
  color: #ffa600;
}

.header__nav-mobile {
  position: fixed;
  width: 100%;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  background-color: rgba(0, 0, 0, 0.75);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.header__nav-mobile--show {
  -webkit-transform: translateY(9rem);
          transform: translateY(9rem);
}

.header--scrolled .header__nav-mobile--show {
  -webkit-transform: translateY(6rem);
          transform: translateY(6rem);
}

.header--scrolled .header__nav-list-mobile {
  padding: 5rem 0;
}

.header__nav-list-mobile {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10rem 0;
  text-align: right;
  font-size: 2.2rem;
  -webkit-transition: padding 0.3s ease-in-out;
  transition: padding 0.3s ease-in-out;
}

@media only screen and (max-width: 56.25em) {
  .header__nav-list-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header__nav-list-item-mobile:not(:last-child) {
  margin-bottom: 3rem;
}

.header__nav-link-mobile {
  color: #bfbfbf;
}

.header__nav-link-mobile:active, .header__nav-link-mobile:hover {
  color: #fac564;
}

.active {
  color: #fac564;
}

.home {
  position: relative;
  padding-top: 9rem;
  height: 100vh;
  background-color: black;
  color: #fff;
  z-index: 0;
}

.home__slide-1 {
  background: url("../assets/images/bg-3-1920.webp");
}

@media (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), (min-resolution: 192dpi) and (min-width: 37.5em) {
  .home__slide-1 {
    background: url("../assets/images/bg-3-1200.webp");
  }
}

.home__slide-2, .home__slide-3 {
  background: url("../assets/images/bg-1-1920.webp");
}

@media (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), (min-resolution: 192dpi) and (min-width: 37.5em) {
  .home__slide-2, .home__slide-3 {
    background: url("../assets/images/bg-1-1200.webp");
  }
}

.home__img-box {
  width: 100rem;
}

@media only screen and (max-width: 37.5em) {
  .home__img-box {
    display: none;
  }
}

.home__img {
  display: block;
  width: 100%;
  height: auto;
}

.home__hero-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}

.home__hero {
  position: relative;
  z-index: 1;
}

.home__hero--right, .home__hero--left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 37.5em) {
  .home__hero--right, .home__hero--left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.home__text-box {
  width: 60rem;
  margin: 0 auto;
}

@media only screen and (max-width: 37.5em) {
  .home__text-box {
    width: 100%;
  }
}

.home__text-box--right {
  text-align: right;
  margin-right: 3rem;
}

.home__text-box--left {
  text-align: left;
  margin-left: 3rem;
}

.home__text-box--right, .home__text-box--left {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 37.5em) {
  .home__text-box--right, .home__text-box--left {
    text-align: center;
    margin: 0;
  }
}

.home__subtitle {
  font-size: 3.2rem;
  font-family: "Nothing You Could Do", cursive;
  color: #fac564;
}

.home__title {
  font-size: 4rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  line-height: 6rem;
}

.home__text {
  margin: 2rem 0 3rem 0;
  font-weight: 300;
  letter-spacing: 0.15rem;
  font-size: 1.5rem;
  line-height: 2.2rem;
}

.home__btn {
  padding: 1.5rem 3rem;
}

.swiper-container,
.swiper-wrapper,
.swiper-slide {
  height: 100%;
  width: 100%;
}

.swiper-slide {
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.swiper-container .home__hero-wrapper {
  opacity: 0;
  -webkit-transform: scale(0.9) translate(-50%, -50%);
          transform: scale(0.9) translate(-50%, -50%);
  -webkit-transition: all 1.5s cubic-bezier(0.25, 1, 0.5, 1);
  transition: all 1.5s cubic-bezier(0.25, 1, 0.5, 1);
}

.swiper-container .swiper-slide.swiper-slide-active .home__hero-wrapper {
  opacity: 1;
  -webkit-transform: scale(1) translate(-50%, -50%);
          transform: scale(1) translate(-50%, -50%);
}

.info {
  height: 15rem;
  width: 100%;
}

@media only screen and (max-width: 56.25em) {
  .info {
    height: auto;
  }
}

.info__content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #121619;
}

@media only screen and (max-width: 56.25em) {
  .info__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.info__left {
  width: 75%;
  background-color: #121619;
}

.info__left img {
  margin-top: 0.5rem;
  margin-right: 2rem;
}

@media only screen and (max-width: 56.25em) {
  .info__left {
    height: 15rem;
  }
}

.info__right {
  width: 25%;
  background-color: #fac564;
}

@media only screen and (max-width: 56.25em) {
  .info__right {
    height: 5rem;
  }
}

.info__left, .info__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.info__left img, .info__right img {
  display: block;
  width: 2.2rem;
}

@media only screen and (max-width: 56.25em) {
  .info__left, .info__right {
    width: 100%;
  }
}

@media only screen and (max-width: 37.5em) {
  .info__left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
    height: 30rem;
    width: 90%;
    margin: 0 auto;
  }
}

.info__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.info__text h3 {
  color: #fff;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  font-weight: 400;
}

.info__text p {
  color: gray;
  font-size: 1.4rem;
  font-weight: 300;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background: url("../assets/images/bg-4-1920.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.about__part {
  width: 50%;
}

.about__part:nth-child(1) img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

@media only screen and (max-width: 37.5em) {
  .about__part:nth-child(1) {
    display: none;
  }
}

.about__part:nth-child(2) {
  margin: 10rem 0;
}

@media only screen and (max-width: 37.5em) {
  .about__part:nth-child(2) {
    width: 100%;
  }
}

.about__text-box {
  height: 100%;
  width: 90%;
  margin: 0 auto;
}

@media only screen and (max-width: 56.25em) {
  .about__text-box {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.about__title {
  font-size: 3.2rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 5rem;
  color: #fff;
}

.about__title img {
  width: 3rem;
}

.about__title span {
  color: #fac564;
  font-family: "Josefin Sans", sans-serif;
}

.about p {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.8;
  color: gray;
}

.services {
  position: relative;
  background: url("../assets/images/food.webp");
  padding: 10rem 0;
}

.services__title-box {
  text-align: center;
}

.services__title-box h2 {
  font-size: 3.2rem;
  font-weight: 400;
  margin-bottom: 3rem;
}

.services__title-box p {
  width: 50%;
  margin: 0 auto;
  font-weight: 300;
  font-size: 1.4rem;
}

@media only screen and (max-width: 37.5em) {
  .services__title-box p {
    width: 100%;
  }
}

.services__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 7rem;
}

@media only screen and (max-width: 37.5em) {
  .services__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.services__item:not(:last-child) {
  margin-right: 2rem;
}

@media only screen and (max-width: 37.5em) {
  .services__item:not(:last-child) {
    margin-right: 0;
  }
}

.services__item {
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 3rem 0 3rem 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.services__item-title {
  margin-bottom: 2rem;
  font-size: 2.2rem;
  font-weight: 400;
}

.services__item-text {
  width: 70%;
  margin: 0 auto;
  font-size: 1.4rem;
  font-weight: 300;
  color: #5c3d03;
}

.services__icon-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 10rem;
  height: 10rem;
  margin: 0 auto 3rem auto;
  border: 0.1rem solid #5c3d03;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.services img {
  width: 5rem;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.services__item:hover .services__icon-box {
  background-color: #ffa600;
  border: 0.1rem solid #ffa600;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.services__item:hover img {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.menu {
  position: relative;
  background: url("../assets/images/bg-4-1920.webp");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 10rem;
}

.menu__title-box {
  text-align: center;
}

.menu__title-box h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 3.2rem;
  font-weight: 400;
  margin-bottom: 3rem;
  color: #fff;
}

.menu__title-box p {
  margin: 0 auto;
  width: 50%;
  font-weight: 300;
  font-size: 1.4rem;
  color: gray;
}

@media only screen and (max-width: 37.5em) {
  .menu__title-box p {
    width: 100%;
  }
}

.menu__title-box--pricing h2 {
  margin-bottom: 1.5rem;
}

.menu__gallery {
  color: #fff;
  margin-top: 10rem;
  margin-bottom: 10rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(35rem, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(35rem, 1fr));
  grid-auto-rows: 35rem;
}

.menu__gal-item {
  position: relative;
  overflow: hidden;
}

.menu__gal-img {
  width: 100%;
}

.menu__gal-img img {
  width: 100%;
  height: 35rem;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.menu__gal-img.show {
  overflow: hidden;
}

.menu__gal-img.show img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.menu__gal-item:hover .menu__gal-text {
  opacity: 1;
}

.menu__gal-item:hover .menu__gal-img img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.menu__gal-item:hover .overlay-darker {
  opacity: 0.9;
}

.menu__gal-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 2rem;
  opacity: 0;
  z-index: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.menu__gal-text.show {
  opacity: 1;
}

.menu__gal-text h3 {
  font-size: 2.2rem;
  font-weight: 400;
  font-family: "Josefin Sans", sans-serif;
  margin-bottom: 1.5rem;
}

.menu__gal-text p {
  font-size: 1.5rem;
  font-weight: 300;
  color: #e8eaeb;
  margin-bottom: 3.5rem;
}

.menu__gal-text span {
  font-size: 1.5rem;
  color: #fac564;
  margin-right: 2rem;
}

.menu__btn {
  padding: 0.5rem 1rem;
}

.menu__pricing {
  margin-top: 10rem;
  margin-bottom: 10rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(39rem, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(39rem, 1fr));
  grid-auto-rows: auto;
  gap: 3rem;
}

@media only screen and (max-width: 20em) {
  .menu__pricing {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.menu__pricing-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.menu__pricing-img img {
  width: 6rem;
  height: 6rem;
  display: block;
  border-radius: 50%;
  margin-right: 1.5rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

.menu__text-box {
  width: 100%;
}

.menu__text-box p {
  font-size: 1.4rem;
  color: gray;
  font-weight: 300;
}

.menu__pricing-title {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1rem;
}

.menu__pricing-title h3 {
  font-size: 1.5rem;
  color: #bfbfbf;
  font-weight: 400;
}

.menu__pricing-title span {
  font-size: 1.5rem;
  color: #fac564;
}

.menu__pricing-title::after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #fac564;
}

.menu__secn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 56.25em) {
  .menu__secn-img {
    display: none;
  }
}

.menu__secn-img img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  height: 90vh;
  width: 50rem;
}

.menu__secn-tabs {
  width: 100%;
  margin: 6.5rem;
}

@media only screen and (max-width: 56.25em) {
  .menu__secn-tabs {
    width: 90%;
    margin: 0 auto;
  }
}

.menu__secn-tabs-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 56.25em) {
  .menu__secn-tabs-menu {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.menu__secn-list-item:not(:last-child) {
  margin-right: 1rem;
}

.menu__secn-btn {
  padding: 1rem 1.5rem;
}

.menu__secn-wrapper {
  height: 100%;
}

@media only screen and (max-width: 56.25em) {
  .menu__secn-wrapper {
    height: auto;
    margin: 6rem 0 10rem 0;
  }
}

.menu__secn-items {
  width: 100%;
  height: 100%;
}

.menu #Pasta,
.menu #Drinks {
  display: none;
}

.menu__secn-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 37.5em) {
  .menu__secn-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.menu__secn-food {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 37.5em) {
  .menu__secn-food {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-bottom: 6rem;
  }
}

@media only screen and (max-width: 20em) {
  .menu__secn-food {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (max-width: 56.25em) {
  .menu__secn-food:not(:last-child) {
    margin-right: 3rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .menu__secn-food:not(:last-child) {
    margin-right: 0;
  }
}

.menu__secn-food-img {
  display: block;
  width: 20rem;
  height: 20rem;
}

@media only screen and (max-width: 20em) {
  .menu__secn-food-img {
    display: none;
  }
}

.menu__secn-food-img img {
  display: block;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  margin-bottom: 3rem;
}

.menu__secn-text-box {
  text-align: center;
}

@media only screen and (max-width: 37.5em) {
  .menu__secn-text-box {
    text-align: left;
    width: 50%;
    margin-left: 3rem;
  }
}

@media only screen and (max-width: 20em) {
  .menu__secn-text-box {
    width: 100%;
    margin-left: 0;
  }
}

.menu__secn-text-box h3 {
  font-size: 1.7rem;
  color: #fff;
  font-weight: 400;
  margin: 1.5rem 0;
}

@media only screen and (max-width: 37.5em) {
  .menu__secn-text-box h3 {
    margin-top: 0;
  }
}

.menu__secn-text-box p {
  color: gray;
  font-size: 1.4rem;
  font-weight: 300;
  margin-bottom: 3rem;
}

.menu__secn-text-box span {
  display: block;
  font-size: 1.4rem;
  font-weight: 400;
  color: #fac564;
  margin-bottom: 1.5rem;
}

.menu__secn-text-box button {
  padding: 0.5rem 1rem;
}

.counters {
  padding: 10rem 0;
  position: relative;
  background: url("../assets/images/bg-2.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 0;
}

.counters__list {
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

@media only screen and (max-width: 37.5em) {
  .counters__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.counters__list-item {
  text-align: center;
}

@media only screen and (max-width: 37.5em) {
  .counters__list-item:not(:last-child) {
    margin-bottom: 6rem;
  }
}

.counters__icon-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 7.5rem;
  height: 7.5rem;
  margin: 0 auto 3rem auto;
  border: 0.1rem solid #fac564;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.counters__icon-box img {
  width: 4rem;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.counters__list-item:hover .counters__icon-box img {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.counters__list-item:hover .counters__icon-box {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.counters__number {
  display: block;
  font-size: 2.2rem;
  font-weight: 500;
  color: #fac564;
}

.counters__label {
  margin-top: 1rem;
  display: block;
  color: #bfbfbf;
  font-size: 1.4rem;
  font-weight: 300;
}

.img-gallery {
  background: url("../assets/images/bg-4-1920.webp");
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.img-gallery__list {
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (25%)[auto-fill];
      grid-template-columns: repeat(auto-fill, 25%);
  grid-auto-rows: 40rem;
}

@media only screen and (max-width: 37.5em) {
  .img-gallery__list {
    -ms-grid-columns: (minmax(25rem, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  }
}

.img-gallery__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.img-gallery__img {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
}

.img-gallery__img img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

.img-gallery__icon-box {
  background-color: #fac564;
  width: 6.5rem;
  height: 6.5rem;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.img-gallery__icon-box img {
  width: 2.2rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.img-gallery__list-item:hover .img-gallery__icon-box {
  opacity: 1;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.img-gallery__list-item:hover .img-gallery__icon-box img {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.blog {
  background: url("../assets/images/bg-4-1920.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  padding: 10rem 0;
}

.blog__title-box {
  text-align: center;
}

.blog__title-box h2 {
  margin-bottom: 1.5rem;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 3.2rem;
  font-weight: 400;
  margin-bottom: 3rem;
  color: #fff;
}

.blog__title-box p {
  margin: 0 auto;
  width: 70rem;
  font-weight: 300;
  font-size: 1.4rem;
  color: #bfbfbf;
}

@media only screen and (max-width: 37.5em) {
  .blog__title-box p {
    width: 100%;
  }
}

.blog__list {
  width: 100%;
  height: 100%;
  margin-top: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 37.5em) {
  .blog__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.blog__list-item {
  display: block;
  width: 100%;
  height: 100%;
}

.blog__list-item:not(:last-child) {
  margin-right: 3rem;
}

@media only screen and (max-width: 37.5em) {
  .blog__list-item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 6rem;
  }
}

.blog__link {
  display: block;
}

.blog__img {
  display: block;
}

.blog__img img {
  display: block;
  width: 100%;
  height: 30rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

.blog__text {
  margin-top: 3rem;
}

.blog__info {
  margin-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: 300;
  color: gray;
}

.blog__list-title {
  margin-bottom: 1.5rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 1.7rem;
  cursor: pointer;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.blog__list-title:hover {
  color: #fac564;
}

.blog__list-description {
  margin-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: 300;
  color: gray;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80vh;
  background-color: #121619;
}

@media only screen and (max-width: 37.5em) {
  .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 150rem;
  }
}

.contact__map {
  width: 50%;
  height: 100%;
}

@media only screen and (max-width: 37.5em) {
  .contact__map {
    width: 100%;
    height: 50%;
  }
}

.contact__form-wrapper {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6.5rem 10rem;
  margin: 0 auto;
}

@media only screen and (max-width: 37.5em) {
  .contact__form-wrapper {
    width: 100%;
    height: 50%;
    padding: 6.5rem 5%;
  }
}

.contact__form {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact__title {
  width: 100%;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2.4rem;
  font-weight: 400;
  margin-bottom: 1.4rem;
  color: #fff;
}

.contact__input-field, .contact__textarea-field {
  width: 100%;
  position: relative;
  font-size: 1.4rem;
  font-weight: 300;
  color: #e8eaeb;
}

.contact__input-field {
  height: 4rem;
}

.contact__textarea-field {
  position: relative;
  height: 6rem;
}

.contact__input {
  width: 100%;
  height: 100%;
  padding: 1rem 0;
  background-color: #121619;
  border-bottom: 0.1rem solid #343a40;
  color: inherit;
  -webkit-transition: border-bottom 0.3s;
  transition: border-bottom 0.3s;
}

.contact__textarea {
  width: 100%;
  height: 100%;
  padding: 1rem 0;
  background-color: #121619;
  border-bottom: 0.1rem solid #343a40;
  color: inherit;
}

.contact__label, .contact__textarea-label {
  position: absolute;
  left: 0;
  top: -1.5rem;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.contact__input-field:hover .contact__input,
.contact__textarea-field:hover .contact__textarea, .contact__input:focus, .contact__textarea:focus {
  border-bottom: 0.1rem solid #fac564;
}

.contact__input-field:hover .contact__label,
.contact__textarea-field:hover .contact__textarea-label,
.contact__input:focus + .contact__label,
.contact__textarea:focus + .contact__textarea-label {
  color: #fac564;
}

.contact__btn {
  margin: 0 auto;
  padding: 1.5rem 3rem;
}

.footer {
  padding: 10rem;
  background-color: black;
  text-align: center;
  font-size: 1.7rem;
  color: #bfbfbf;
  font-weight: 300;
}

@media only screen and (max-width: 37.5em) {
  .footer {
    padding: 10rem 5%;
  }
}

.footer p:first-child {
  margin-bottom: 1.5rem;
}

.footer a {
  color: #fac564;
}
/*# sourceMappingURL=main.css.map */